/* ::GENERAL STYLES:: */
/* typography */
h1 {
    color: #5B4A0B; 
    font-family: "Solway", serif;
    font-size: 2.5rem; 
    line-height: 0rem;
}
h2 {
    color: #5B4A0B; 
    font-family: "Solway", serif;
    font-size: 1.45rem; 
    line-height: 0rem;
}
.alt_h2 {
    font-family: "Courier Prime", serif;
    font-style: italic;
    font-weight: 400; 
    line-height: 0rem;
}
p {
    color:#5B4A0B;
    font-size: .9rem;
    font-family: "Courier Prime", monospace; 
}
.p_bold {
    font-family: Solway;
    font-weight: 700; 
}
.p_italic {
    font-style: italic; 
}

/* list typo. */
dt {
    padding: .25rem;
    font-size: 1.25rem;
}

/* links */
a {
    padding: .25rem;
    font-size: 1.25rem;
    font-family: "Courier Prime", monospace;
    text-decoration: none; 
}
a:link {
    color: #5B4A0B; 
}
a:visited {
    color: #5B4A0B;
}
a:focus {
    text-decoration: underline; 
}
a:hover {
    text-decoration: underline;
    background-color: #FFE380; 
}

a.nav {
    background-color: #5B4A0B;
    width: 20rem;
    border-radius: 0 0 1rem 1rem;
    padding-top: .75rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dotted divider */
hr.dotted {
    margin: 1.75rem;
    border-bottom: .45rem dotted #F8E6A4; 
}

/* dotted divider */
hr.dotted_2 {
    border-bottom: .45rem dotted #F8E6A4; 
}

/* dotted divider */
hr.dotted_3 {
    width: 16rem;
    border-bottom: .25rem dotted #FFF4CC; 
}

/* ::PAGE STRUCTURE STYLE:: */
/* general page structure */
body {
    background-color: #FFFAF2;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    gap: 5rem;
}

/* breads + list structure */
.breads_section {
    background-color: #FFF4CC;
    width: 20rem;
    border-radius: 1rem;
    border: 4px solid #F8E6A4;
    text-align: center; 
    padding: .5rem; 
}

/* list structure */
.list_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; 
}

/* notes general structure */
.notes_section {
    width: 20rem;
    margin-bottom: 3rem; 
    text-align: center; 
}

/* ingredient notes header & desc. structure */
.header_content {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 0.5rem;
    line-height: 0rem; 
}

/* ingredients item + brand + img + desc. structure */
.ingredient_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; 
}

/* ingredient item & brand */
.ingredient_category {
    display: flex;
    align-items: baseline;
    gap: .5rem;
    margin-top: 1rem;
}

/* individual items (img + desc.) */
.item_category {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

/* items in a row (multi. img + desc.) */
.item_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch; 
    gap: 1rem; 
    margin-bottom: 1rem;
}