body {
    background-color: #FFFAF2;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; }

/*"breads" + list styling*/
.breads_section {
    background-color: #FFF4CC;
    width: 20rem;
    border-radius: 1rem;
    border: 4px solid #F8E6A4;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: .5rem; }

    /*"breads" text styling*/
.head_wrapper {
    color: #5B4A0B; 
    font-family: "Solway", serif;
    text-align: center; 
    line-height: 0rem;}

h1 {
    font-size: 4rem; }

/*dotted divider*/
hr.dotted {
    margin: 1.75rem;
    border-bottom: .45rem dotted #F8E6A4; }

/*list styling*/
.list_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }

/*non-link item styling*/
dt {
    padding: .25rem;
    font-size: 1.25rem;
    font-family: "Courier Prime", monospace;
    text-decoration: none;
    color: #F8E6A4; }

/*link styling*/
a {
    padding: .25rem;
    font-size: 1.25rem;
    font-family: "Courier Prime", monospace;
    text-decoration: none; }
a:link {
    color: #5B4A0B; }
a:visited {
    color: #5B4A0B;}
a:focus {
    text-decoration: underline; }
a:hover {
    text-decoration: underline;
    background-color: #FFE380; }

