/* ::GENERAL STYLES:: */
/* typography */
h1 {
    color: #5B4A0B; 
    font-family: "Solway", serif;
    font-size: 2.5rem; 
    line-height: 0;
}
h2 {
    color: #5B4A0B; 
    font-family: "Solway", serif;
    font-size: 1.45rem; 
    line-height: 0;
}
.h2_alt2 {
    font-family: "Courier Prime", monospace;
    font-weight: 100;
    font-style: italic;
}
h3 {
    color: #5B4A0B; 
    font-family: "Solway", serif;
    font-size: 1.15rem; 
    line-height: 0;
}
.h3_alt {
    font-weight: 100;
    font-family: "Courier Prime", monospace;
    font-style: italic;
}
p {
    color:#5B4A0B;
    font-size: .9rem;
    font-family: "Courier Prime", monospace; 
}
li {
    color:#5B4A0B;
    font-size: .9rem;
    font-family: "Courier Prime", monospace; 
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
.li_bold {
    font-weight: 700;
}
.li_light {
    font-weight: 100;
    font-style: italic;
}

/* links */
a {
    padding: .25rem;
    font-size: 1.25rem;
    font-family: "Courier Prime", monospace;
    text-decoration: none; 
}
a:link {
    color: #5B4A0B; 
}
a:visited {
    color: #5B4A0B;
}
a:focus {
    text-decoration: underline; 
}
a:hover {
    text-decoration: underline;
    background-color: #FFE380; 
}

.dotted {
    width: 18rem;
    border-bottom: .45rem dotted #F8E6A4; 
}
.dotted_2 {
    width: 18rem;
    border-bottom: .45rem dotted #FFF4CC; 
}

/* nav bar */
a.nav {
    background-color: #5B4A0B;
    width: 20rem;
    border-radius: 0 0 1rem 1rem;
    padding-top: .75rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ::PAGE STRUCTURE STYLE:: */
/* general page structure */
body {
    background-color: #FFFAF2;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    gap: 5rem;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}
.ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}
.tools {
    border-radius: 0.875rem;
    border: 4px solid #F8E6A4;
    background: #FFF4CC;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 22rem;
}
.item_category {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}
.item_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch; 
    gap: 2.5rem; 
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.all_steps {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem;
    width: 25rem;
}
.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    align-self: stretch;
}
